<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<style type="text/css">
			.grid{
				margin: auto;
				width: 500px;
				text-align: center;
			
			}
			.grid table{
				width: 100%;
				border-collapse: collapse;
				
			}
			.grid th,td{
				padding: 10px;
				border: 1px dashed orange;
				height: 35px;
				line-height: 35px;
			}
			.grid th{
				background: #FFA500;
			}
			.grid .book{
				padding-bottom: 10px;
				padding-top: 5px;
				background: #FFA500;
			}
		</style>
	</head>
	<body>
		<div id="app">
			<div class="grid">
				<div>
					<h1>图书管理</h1>
					<div class="book">
						<div>
							<label for="id">
								编号：
							</label>
							<input type="text" id="id" v-model="id" :disabled="flag"/>
							<label for="name">
								名称：
							</label>
							<input type="text" id="name" v-model="name"/>
							<button @click="handle">提交</button>
						</div>
					</div>
				</div>
			<table>
				<thead>
					<tr>
						<th>编号</th>
						<th>名称</th>
						<th>时间</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody>
					<tr :key='item.id' v-for='item in books'>
					
						<td>{{item.id}}</td>
						<td>{{item.name}}</td>
						<td>{{item.data}}</td>
						<td>
							<a href="" @click.prevent='toEdit(item.id)'>修改</a>
							<span>|</span>
							<a href="" @click.prevent>删除</a>
						</td>
					</tr>
					<!--<tr>
						<td>1</td>
						<td>JavaScript</td>
						<td>2018-01-01</td>
						<td>删除</td>
					</tr>
					<tr>
						<td>1</td>
						<td>JavaScript</td>
						<td>2018-01-01</td>
						<td>删除</td>
					</tr>-->
					
					
				</tbody>
			</table>
			</div>
		</div>
		<script type="text/javascript" src="js/vue.min.js" ></script>
		<script type="text/javascript">
			var vm=new Vue({
				el:"#app",
				data:{
					flag:false,
					id:'',
					name:'',
					books:[{
						id:1,
						name:'水浒传',
						data:''
					},{
						id:2,
						name:'三国演义',
						data:''
					},{
						id:3,
						name:'红楼梦',
						data:''
					},{
						id:4,
						name:'西游记',
						data:''
					}]
				},
				methods:{
					handle:function(){
						if(this.flag){
							this.books.some((item)=>{
								if(item.id==this.id){
									item.name=this.name;
									return true;
								}
							});
							this.flag=false;
						}else{
						var book={};
						book.id=this.id;
						book.name=this.name;
						book.data='';
						this.books.push(book);
						this.id='';
						this.name='';
							
						}
						this.id='';
						this.name='';
						
					},
					toEdit:function(id){
						this.flag=true;
					var book =this.books.filter(function(item){
					return 	item.id==id;
					});
					
					this.id=book[0].id;
					this.name=book[0].name;
					}
				}
			});
		</script>
	</body>
</html>
